{% extends 'base.html' %}

{% block content %}
    <h2>Записи</h2>
    <div class="nav">
        <a class="btn btn-primary" href="{% url 'entry_new' %}">Новая запись</a>
    </div>

    <ul>
        {% for entry in entry_list %}
            <li><a href="{% url 'entry_detail' entry.pk %}">{{ entry.timestamp }}: </a>{{ entry.record }}</li>
        {% endfor %}
        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&#171 первая </a>
            <a href="?page={{ page_obj.previous_page_number }}"> &#8249 предыдущая </a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"> следующая &#8250 </a>
            <a href="?page={{ page_obj.paginator.num_pages }}"> последняя &raquo</a>
        {% endif %}
    </span>
        </div>
    </ul>


{% endblock %}