{% extends 'base.html' %}

{% block content %}
    <h2>Новое событие</h2>
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
<!--        <input type="submit" value="Save">-->
        <p>
            <button type="submit" class="btn btn-success">Сохранить</button>
        </p>
    </form>
{% endblock %}