{% extends 'base.html' %}

{% block content %}
    <h1>Поиск в записях</h1>
{#    <div class="nav">#}
{#        <a href="{% url 'entry_new' %}">Новая запись</a>#}
{#    </div>#}

    {% if query %}
    <h3>Записи содержащие "{{ query }}"</h3>
    <h4>
      {% with results.count as total_results %}
          Найдено {{ total_results }}:
      {% endwith %}
    </h4>
    {% for entry in results %}
        <h4><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h4>
        <li><a href="{% url 'entry_detail' entry.pk %}">{{ entry.timestamp }}: </a>{{ entry.record|truncatewords:10 }}</li>
    {% empty %}
      <p>Ничего не найдено.</p>
    {% endfor %}

    <p style="margin-top: 1em;"><a href="{% url "entry_search" %}">Новый поиск</a></p>
  {% else %}
    <form action="." method="get">
      {{ form.as_p }}
      <input class="btn btn-success" type="submit" value="Искать">
    </form>
  {% endif %}


{% endblock %}