{% extends 'base.html' %}

{% block content %}
<header>
    <h1 style="color: red; font-size: 3em; font-weight: bold;">DiaryCRM</h1>
</header>
<main>
    {% if user.is_authenticated %}
        <p>Здравствуйте, {{ user.email }}!</p>
        <p><a class="btn btn-danger" href="{% url 'account_logout' %}">Выйти</a></p>
    {% else %}
        <p>Здравствуйте, анонимный пользователь. <a href="{% url 'account_login' %}">Войдите в систему</a>
            чтобы воспользоваться всеми возможностями.</p>
    {% endif %}
</main>
{% endblock %}